.env*
.DS_Store
node_modules/
client/dist/
backtest/data/
backtest/generated-dataset/
backtest/signals/
backtest/results/
backtest/analysis/
backtest/reports/
backtest/prices/
backtest/decision-logs/AUDJPY.jsonl
backtest/decision-logs/AUDUSD.jsonl
backtest/decision-logs/BTCEUR.jsonl
backtest/decision-logs/BTCUSD.jsonl
backtest/decision-logs/DOGEUSD.jsonl
backtest/decision-logs/ETHUSD.jsonl
backtest/decision-logs/EURGBP.jsonl
backtest/decision-logs/EURJPY.jsonl
backtest/decision-logs/EURUSD.jsonl
backtest/decision-logs/GBPUSD.jsonl
backtest/decision-logs/NZDJPY.jsonl
backtest/decision-logs/NZDUSD.jsonl
backtest/decision-logs/USDCAD.jsonl
backtest/decision-logs/USDCHF.jsonl
backtest/decision-logs/USDJPY.jsonl
