.env*
.DS_Store
node_modules/
client/dist/
backtest/data/
backtest/generated-dataset/
backtest/signals/
backtest/results/
backtest/analysis/
backtest/reports/
backtest/prices/
backtest/prices/AUDJPY.jsonl
backtest/prices/AUDUSD.jsonl
backtest/prices/BTCEUR.jsonl
backtest/prices/BTCUSD.jsonl
backtest/prices/DOGEUSD.jsonl
backtest/prices/ETHUSD.jsonl
backtest/prices/EURGBP.jsonl
backtest/prices/EURJPY.jsonl
backtest/prices/EURUSD.jsonl
backtest/prices/GBPUSD.jsonl
backtest/prices/NZDJPY.jsonl
backtest/prices/NZDUSD.jsonl
backtest/prices/USDCAD.jsonl
backtest/prices/USDCHF.jsonl
backtest/prices/USDJPY.jsonl
